VITE_SUPABASE_URL=https://hftlogubohbjiivcvkut.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_FtRkkKGWJpOakcv69BX-Hw_RHFCD86n

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJIUzI1NiJ9.REPLACE_WITH_LEGACY_ANON_KEY
